# Environment files
.env

# Dependencies
/vendor/

# Docker
db_data/

# OS / Editor files
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Cache / Temp
*.cache
*.tmp

# Busted assets (Cache Busting)
# CSS
/public/css/*.*.css

# Images
/public/images/*.*.{png,jpg,jpeg,gif,svg}

# JS
/public/js/*.*.js

# JS
/public/js/*/*.*.js
